img{
    max-width: 100%;
    vertical-align: top;
}

div{
    color: #fff;
}

body{
    /*margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    */
    background: #1a0321;
    font-family:consolas;
    margin: auto;
    /*width: 600px;*/
    /*
    font-family:cursive; 
    */  
}

#linea1{
    display: flex;
    align-items: center;
    margin: 10px 0 0 19px;
    color: #fff;
}

#credito{
    color: orange;
    font-size: 1.5em;
}

#dinero{
    font-size: 5em;
    line-height: 70px;    
}

#euro{
    font-size: 1.4em;
}

#tirar{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    cursor: pointer;
    /*height: 50px;;*/    
    

    /*
    width: 180px;
    height: 180px;
    background-color: #fff0c9;
    border-radius: 50%;
    border: 6px solid crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    box-shadow: 0 0 13px black inset;
    user-select: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    top: 30px;*/
}

header{
    position: relative;    
    height: 195px;
}

#ventanas{
    display: flex;
    justify-content: space-around;    
}

.ventana{
    width: 195px;        
}

.imagen{
    border: 4px solid crimson;
    border-radius: 10px;
    padding: 30px;
}

.boton{
    border: 4px solid crimson;
    border-radius: 10px;
    text-align: center;
    line-height: 55px;
    font-size: 1.2em;
    background-color: #fff0c9;
    box-shadow: 0 0 10px black inset;
    margin-top: 12px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;    
}

#x5{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    cursor: pointer;    
    /*top: 25px;
    left: 50px;*/

}

#x5:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 1s; 
}

#x10{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    cursor: pointer;   
    
}

#x10:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 1s; 
}

#x50{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    cursor: pointer;            
}

#x50:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 1s; 
}

#x100{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    cursor: pointer;
    
    
    
}

#x100:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 1s; 
}

#x500{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    cursor: pointer;
    
  
}

#x500:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 1s; 
}

#x1000{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    cursor: pointer;    
    
}

#x1000:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 1s; 
}

#tirar:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 1s;    
    /*
    background-color: white;
    box-shadow: 0 0 13px crimson inset;*/
}

#monedas img{
    width: 30px;
}

#monedas{
    margin: 10px 0 0 19px;
}

#mensaje img{
    width: 30px;
}

#velo{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.6);
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}

#cruz{
    width: 30px;
    top: 5px;
    right: 5px;
    position: absolute;
    cursor: pointer;
}

#cuadro_mensaje{
    border: 5px solid crimson;
    width: 500px;
    border-radius: 12px;
    position: relative;
    height: 100px;
    background-color: white;
}

#mensaje{
    font-size: 1.6em;
    color: crimson;
    text-align: center;
}

#mensaje img{
    width: 35px;
}

#titulo{
    color: #fff;
    letter-spacing: 4px;
    width: 800px;
        
}
