body{
    background: #1a0321;
    font-family:consolas;
    margin: auto;
}

div{
    color: #fff;
}

header{
    position: relative;    
    height: auto;
}

h1{
    text-align: center;
}
.contenido{
    width:60%;
    height: auto;
    -ms-flex-item-align: center;
    align-self: center;
    margin: 0px auto;
    padding: 0 auto;
}

.encabezado{
    margin: 1%;
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


#titulo{
    color: #fff;
    letter-spacing: 4px;
    width: 50%;
    align-items:center;

}

#linea1{
    display: flex;
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    align-content: center;
    align-self: center;
    vertical-align: middle;
    -moz-box-align: center;
    text-align-last: center;
    -ms-text-combine-horizontal: center;
}

.t2-columnas{
    width: 66.6%;
    height: auto;
    margin: 0.5%;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    align-content: center;
    align-self: center;
}

#nombre{

}

#usuario{

}

.contenedor{
    margin: 1%;
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.ventana{
    width: 33.3%;
    height: 100%;
    margin: 0.2%;
    align-items: center;
    align-content: center;
}

.imagen{
    border: 5px solid #a945c7;
    border-radius: 10px;
    align-items: center;
    align-self: center;
    height: 250px;
    width: auto;
}

.foto{
    height: 100%;
    width: 100%;
}

.t3-columnas{
    width: 33.3%;
    height: auto;
    margin: 0.5%;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    align-content: center;
    align-self: center;
}

.t3-filas{
    width: auto;
    height: 33.3%;
    margin: 1%;
    text-align: center;
}


#x5{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    cursor: pointer;
}

#x5:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 0s; 
}

#x50{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    cursor: pointer;            
}

#x50:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 0s; 
}

#x500{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    cursor: pointer; 
}

#x500:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 0s; 
}

#tirar{
    width: 180px;
    height: 180px;
    background-color:#1a0321;
    border-radius: 50%;
    border: 6px solid #a945c7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    box-shadow: 0 0 13px black inset;
    user-select: none;
    right: 0;
    left: 0;
    margin: auto;
    top: 30px;

}

#tirar:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 0s;    
}

#x10{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    cursor: pointer;   
}

#x10:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 0s; 
}

#x100{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    cursor: pointer;
}

#x100:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 0s; 
}

#all_in{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    cursor: pointer;    
    
}

#all_in:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 0s; 
}

.t2-columnas{
    width: 50%;
    height: auto;
    margin: 0.5%;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    align-content: center;
    align-self: center;
}

#saldo{
    text-align: center;
}

#catidadsaldo{
    text-align: center;
}

#montoApostar{
    text-align: center;
}

#monto{
    text-align: center;
}

#terminar{

}

#velo{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.6);
    top: 0;
    height: 100%;
    width: 61%;
    display: none;
    align-items: center;
    align-self: center;
    justify-content: center;
}

#cuadro_mensaje{
    border: 5px solid #a945c7;
    width: auto;
    border-radius: 10px;
    position: relative;
    height: auto;
    background-color: white;
}

#cruz{
    width: 7%;
    top: 2%;
    right: 2%;
    position: absolute;
    cursor: pointer;
}

#mensaje{
    font-size: auto;
    color: #a945c7;
    text-align: center;
    padding: 12%;
}